<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">

    <div class="logo-container">
      <mat-icon class="logo-icon">developer_board</mat-icon>
      <span class="logo-title">GPU Farm</span>
    </div>

    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/nodes" routerLinkActive="active-link">
        <mat-icon>dns</mat-icon>
        <span>Nodes</span>
      </a>
      <a mat-list-item routerLink="/gateways" routerLinkActive="active-link">
        <mat-icon>router</mat-icon>
        <span>Gateways</span>
      </a>
      <a mat-list-item routerLink="/applications" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
        <span>Applications</span>
      </a>
      <a mat-list-item routerLink="/models" routerLinkActive="active-link">
        <mat-icon>model_training</mat-icon>
        <span>Catalogue IA</span>
      </a>

      <mat-expansion-panel class="menu-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list_alt</mat-icon>
            <span>Réservations</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="submenu-nav-list">
          <a mat-list-item routerLink="/reservations" routerLinkActive="active-link">
            <mat-icon>view_list</mat-icon>
            <span>Voir la liste</span>
          </a>
          <a mat-list-item routerLink="/create-namespace" routerLinkActive="active-link">
            <mat-icon>add_box</mat-icon>
            <span>Réserver</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>

    <div class="sidenav-footer">

      @if (authService.isLoggedIn()) {
        <div class="user-card">
          <div class="user-avatar">
            <mat-icon>{{ authService.currentUser()?.icon || 'account_circle' }}</mat-icon>
          </div>
          <div class="user-details">
            <span class="user-name">{{ authService.currentUser()?.username }}</span>
            <span class="user-role">{{ authService.currentUser()?.roles?.join(', ') }}</span>
          </div>
        </div>

        <div class="footer-actions">

          <button mat-flat-button color="warn" class="logout-btn-wide" (click)="authService.logout()">
            <mat-icon>logout</mat-icon>
            Déconnexion
          </button>
        </div>
      }
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
