mat-expansion-panel-header h3 {
  margin: 0 0 0 1rem;
}
.gpu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  padding: 1rem 0;
}

mat-panel-description {
  // S'assure que la description (et donc le sélecteur) est bien à droite
  justify-content: flex-end;
  align-items: center;
  margin-right: 0; // Retire la marge par défaut
}

mat-form-field {
  // Empêche le sélecteur d'être trop large
  width: 280px;
}

.select-all-option {
  // Ajoute une ligne de séparation pour distinguer l'option "Tout sélectionner"
  border-bottom: 1px solid #ccc;
  line-height: 2.5em; // Augmente légèrement la hauteur
}

.cluster-controls {
  display: flex;
  justify-content: flex-end; // Aligne le sélecteur à droite
  padding: 0 24px 16px 24px; // Aligne avec le padding du contenu
  border-bottom: 1px solid #eee; // Sépare les contrôles de la grille de GPUs
  margin-bottom: 16px;
}
