<mat-card (click)="viewHistory.emit()">
  <mat-card-header>
    <div class="card-title-container">
      <h3>{{ gpu.name }}</h3>
    </div>
    <span class="status-badge" [ngClass]="gpu.status | lowercase">{{ gpu.status }}</span>
  </mat-card-header>
  <mat-card-content>
    <div class="primary-gauge-wrapper">
      @if (primaryMetric(); as metric) {
        <app-custom-gauge
          [value]="metric.value"
          [append]="metric.append"
          [max]="metric.max"
          [label]="metric.label"
        />
      }
    </div>

    <div class="secondary-metrics-container">
      @for (metric of secondaryMetrics(); track metric.label) {
        <div class="metric-item">
          <span class="metric-label">{{ metric.label }}</span>
          <span class="metric-value">{{ metric.value | number:'1.0-0' }}{{ metric.append }}</span>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
