<button mat-stroked-button [matMenuTriggerFor]="menu" class="select-trigger">
  <span>{{ selectionText }}</span>
  <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu" class="multi-select-menu">
  <div>

    <div class="menu-option select-all-option" (click)="toggleSelectAll(); $event.stopPropagation();">
      <mat-checkbox
        [checked]="isAllSelected()"
        [indeterminate]="isIndeterminate()">
      </mat-checkbox>
      <span>Tout sélectionner</span>
    </div>

    @for (option of options; track option.id) {
      <div class="menu-option" (click)="toggleOption(option.id); $event.stopPropagation();">
        <mat-checkbox [checked]="selectedIds.includes(option.id)"></mat-checkbox>
        <span>{{ option.name }}</span>
      </div>
    }
  </div>
</mat-menu>
